#graphCollapse {
  resize: vertical;
  overflow: auto;
}

.graph-svg {
  height: 320px;
  min-height: 320px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 2px;
}

.link.highlighted {
  stroke: #99B2DD;
  stroke-opacity: 1.0;
}

.link.highlighted-in {
  stroke: #F96E46;
  stroke-opacity: 1.0;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.node circle, .node rect, .node path, .node polygon {
  stroke: #fff;
  fill: black;
  stroke-width: 1px;
}

.node.selected circle, .node.selected rect, .node.selected path, .node.selected polygon {
  stroke: #000;
  fill: #F9C846;
  stroke-width: 2px;
}

.node.friend circle, .node.friend rect, .node.friend path, .node.friend polygon {
  stroke: #000;
  fill: #FFE3E3;
}

.node-text {
  stroke: none;
  font: 10px sans-serif;
  fill: black;
  pointer-events: none;
}

.arrowhead {
  fill: #545863;
}

.arrowhead.highlighted {
  fill: #99B2DD;
}

.arrowhead.highlighted-in {
  fill: #F96E46;
}
