.td-32 {
  max-width: 32px;
  width: 32px;
}

.td-48 {
  max-width: 48px;
  width: 48px;
}

.td-64 {
  max-width: 64px;
  width: 64px;
}

.td-96 {
  max-width: 96px;
  width: 96px;
}

.td-128 {
  max-width: 128px;
  width: 128px;
}

.td-256 {
  max-width: 256px;
  width: 256px;
}

.td-512 {
  max-width: 512px;
  width: 512px;
}

.td-1024 {
  max-width: 1024px;
  width: 1024px;
}
