# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
.settings

# Ignore local jfr files
*.jfr
# Ignore created report
./report

# Ignore UI node modules
*/node_modules/*
