.timeline {
  position: relative;
  overflow-x: auto;
  border: 0;
  height: 50px;
  min-height: fit-content;
}

.timeline-content {
  position: relative;
  height: inherit;
}

.timeline-span {
  position: absolute;
  top: 0;
  height: 32px;
  color: white;
  background-color: #1240AB;
  border: 1px solid;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  max-width: none !important;
}

.timeline-span:hover {
  background-color: #FFD300;
  cursor: pointer;
}
